<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Index</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass">
        </div>
        <input type="submit" value="Login" id="login" name="login">
    </form>
    {{#if message1}}
        <b><h4 style="color: red;">{{message1}}</h4></b>
    {{/if}}
    <a href="register">Register</a>
</body>
</html>