<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/register.css">
    <title>Index</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/login" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass">
        </div>
        <div>
            <label for="cpass">Confirm Password</label>
            <input type="password" id="cpass" name="cpass">
        </div>
        <input type="submit" value="Register" id="register" name="register">
    </form>
    {{#if message}}
        <b><h4 style="color: red;">{{message}}</h4></b>
    {{/if}}
    <a href="login">Login</a>
</body>
</html>